/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Variables */
:root {
  --bg-primary: #F2F2F2;
  --bg-secundary: #F6EFEA;
  --bg-cards: #FFFFFF;

  --text-primary: #000000;
  --text-secundary: #ffffff;
  --text-tertiary: #3A3A3A;
  --text-quaternary: #A59387;
  --text-quinary: #87705D;

  --button-primary: #EB7E00;
  --button-secundary: #FBEFE7;
  --borde-radius: 30px;
}

/* Reset */
* {
  font-family: "Inria Serif", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* General */
html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Tags */
h1,
h2,
h3 {
  color: var(--text-primary);
  font-weight: 700;
  line-height: 1.2;
}

p,
a {
  color: var(--text-primary);
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}

ul {
  list-style: none;
}

button {
  background-color: var(--button-primary);
  font-family: "Inria Serif", serif;
  border-radius: var(--borde-radius);
  color: var(--text-secundary);
  font-weight: 700;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

/* Hover */
a:hover {
  color: var(--button-primary);
  text-decoration: underline;
}

button:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
}

/* Header */
header {
  background-color: var(--bg-primary);
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

header nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  display: flex;
}

/* Logo */
header nav a {
  align-items: center;
  display: flex;
  gap: 10px;
}

header nav a ion-icon {
  color: var(--button-primary);
  font-size: 50px;
}

header nav a h1 {
  font-size: 26px;
}

/* Nav List */
header nav ul {
  display: flex;
  gap: 50px;
}

header nav ul li a {
  font-weight: 700;
  font-size: 22px;
}

/* Actions Navegation */
header nav .actions {
  align-items: center;
  display: flex;
  gap: 20px;
}

header nav .actions .btn-mobile {
  display: none;
}

header nav .actions .btn {
  background-color: var(--button-primary);
  border-radius: var(--borde-radius);
  border: 1px solid transparent;
  color: var(--text-secundary);
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
}

header nav .actions .btn:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  text-decoration: none;
}

/* Main */
main .page {
  background-color: var(--bg-primary);
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 50px
}

/* Home */
main #home {
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  align-items: center;
  gap: 50px;
}

main #home .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 50px
}

main #home .content h1 {
  text-align: center;
  max-width: 800px;
  font-size: 72px;
}

main #home .content p {
  text-align: center;
  max-width: 800px;
  font-size: 22px;
}

main #home .content a {
  background-color: var(--button-primary);
  border-radius: var(--borde-radius);
  border: 1px solid transparent;
  color: var(--text-secundary);
  display: inline-block;
  width: fit-content;
  padding: 15px 30px;
  font-weight: 700;
  transition: 0.3s;
  font-size: 22px;
}

main #home .content a:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  text-decoration: none;
}

/* Collection */
main #collection {
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  display: flex;
}

main #collection h2 {
  margin-top: 50px;
  font-size: 50px;
}

main #collection .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 50px;
}

main #collection .content .cards {
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  white-space: nowrap;
  overflow-x: hidden;
  display: flex;
  width: 90%;
  gap: 20px;
}

main #collection .content .cards .card {
  border-radius: var(--borde-radius);
  background-color: var(--bg-cards);
  height: fit-content;
  max-width: 400px;
  width: 100%;
}

main #collection .content .cards .card img {
  border-radius: var(--borde-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

main #collection .content .cards .card h3 {
  color: var(--text-quinary);
  padding: 10px 20px;
  font-size: 22px;
  text-align: left;
}

main #collection .content .cards .card button {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  border-radius: var(--borde-radius);
  margin: 0 20px 20px 20px;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
  width: 90%;
}

main #collection .content .cards .card button:hover {
  background-color: var(--button-primary);
  border: 1px solid transparent;
  color: var(--text-secundary)
}

main #collection .content .cards .card p {
  color: var(--text-quaternary);
  padding: 0 20px 20px 20px;
  font-size: 18px;
  text-align: left
}

main #collection .content .actions {
  display: flex;
  gap: 20px;
}

main #collection .content .actions button {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

main #collection .content .actions button:hover {
  background-color: var(--button-primary);
  border: 1px solid transparent;
  color: var(--text-secundary);
}

/* About */
main #about {
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  display: flex;
}

main #about h2 {
  margin-top: 50px;
  font-size: 50px;
}

main #about .content {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 50px;
}

main #about .content img {
  border-radius: var(--borde-radius);
  object-fit: cover;
  max-width: 600px;
  height: auto;
  width: 100%;
}

main #about .content .text {
  flex-direction: column;
  max-width: 800px;
  text-align: left;
  display: flex;
  gap: 20px;
}

main #about .content .text h2 {
  font-size: 40px;
  margin-top: 0;
}

main #about .content .text p {
  color: var(--text-tertiary);
  font-size: 20px;
  text-align: left;
}

main #about .content .text .addtional {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

main #about .content .text .addtional section {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

main #about .content .text .addtional section h3 {
  color: var(--text-quinary);
  font-size: 20px;
}

main #about .content .text .addtional section p {
  color: var(--text-quaternary);
  font-size: 18px
}

/* Testimonials */
main #testimonials {
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  display: flex;
}

main #testimonials h2 {
  margin-top: 50px;
  font-size: 50px;
}

main #testimonials .content {
  justify-content: center;
  align-items: center;
  padding: 50px;
  display: flex;
  width: 100%;
  gap: 50px;
}

main #testimonials .content .review {
  border-radius: var(--borde-radius);
  background-color: var(--bg-cards);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  min-height: 500px;
  padding: 20px;
  display: flex;
  width: fit-content;
}

main #testimonials .content .review img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

main #testimonials .content .review h3 {
  color: var(--text-primary);
  margin-top: 20px;
  font-size: 22px;
}

main #testimonials .content .review p {
  color: var(--text-quaternary);
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 20px;
}

/* Contact  */
main #contact {
  background-color: var(--bg-secundary);
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  display: flex;
}

main #contact .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 50px;
  width: 100%;
  gap: 50px;
}

main #contact .content h1 {
  font-size: 50px;
}

main #contact .content h3 {
  color: var(--text-quaternary);
  max-width: 1000px;
  font-size: 22px;
}

main #contact .content a {
  background-color: var(--button-primary);
  border-radius: var(--borde-radius);
  border: 1px solid transparent;
  color: var(--text-secundary);
  display: inline-block;
  width: fit-content;
  padding: 15px 30px;
  font-weight: 700;
  transition: 0.3s;
  font-size: 22px;
}

main #contact .content a:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  text-decoration: none
}

/* footer */
footer {
  background-color: var(--bg-primary);
  flex-direction: column;
  display: flex;
  width: 100%;
}

footer .top {
  border-bottom: 1px solid var(--text-quaternary);
  justify-content: space-between;
  padding: 50px;
  display: flex;
  gap: 50px;
}

footer .top section {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

footer .top section h2 {
  font-size: 30px;
}

footer .top section h3 {
  color: var(--text-quinary);
  font-size: 22px;
}

footer .top section ul {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

footer .top section ul li a {
  color: var(--text-quaternary);
  font-size: 18px;
}
footer .top section ul li a:hover {
  color: var(--button-primary);
  text-decoration: none;
}

footer .bottom   {
  text-align: center;
  padding: 20px;
}

footer .bottom p {
  color: var(--text-quaternary);
  font-size: 18px
}
