/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Variables */
:root {
  --bg-primary: #F2F2F2;
  --bg-secundary: #F6EFEA;
  --bg-cards: #FFFFFF;

  --text-primary: #000000;
  --text-secundary: #ffffff;
  --text-tertiary: #3A3A3A;
  --text-quaternary: #A59387;
  --text-quinary: #87705D;

  --button-primary: #EB7E00;
  --button-secundary: #FBEFE7;
  --borde-radius: 30px;
}

/* Reset */
* {
  font-family: "Inria Serif", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* General */
html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Tags */
h1,
h2,
h3 {
  color: var(--text-primary);
  font-weight: 700;
  line-height: 1.2;
}

p,
a {
  color: var(--text-primary);
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}

ul {
  list-style: none;
}

button {
  background-color: var(--button-primary);
  font-family: "Inria Serif", serif;
  border-radius: var(--borde-radius);
  color: var(--text-secundary);
  font-weight: 700;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

/* Hover */
a:hover {
  color: var(--button-primary);
  text-decoration: underline;
}

button:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
}

/* Header */
header {
  background-color: var(--bg-primary);
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

header nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  display: flex;
}

/* Logo */
header nav a {
  align-items: center;
  display: flex;
  gap: 10px;
}

header nav a ion-icon {
  color: var(--button-primary);
  font-size: 50px;
}

header nav a h1 {
  font-size: 26px;
}

/* Nav List */
header nav ul {
  display: flex;
  gap: 50px;
}

header nav ul li a {
  font-weight: 700;
  font-size: 22px;
}

/* Actions Navegation */
header nav .actions {
  align-items: center;
  display: flex;
  gap: 20px;
}

header nav .actions .btn-mobile {
  display: none;
}

header nav .actions .btn {
  background-color: var(--button-primary);
  border-radius: var(--borde-radius);
  border: 1px solid transparent;
  color: var(--text-secundary);
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
}

header nav .actions .btn:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  text-decoration: none;
}

/* Main */
main .page {
  background-color: var(--bg-primary);
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 50px
}

/* Home */
main #home {
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  align-items: center;
  gap: 50px;
}

main #home .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 50px
}

main #home .content h1 {
  text-align: center;
  max-width: 800px;
  font-size: 72px;
}

main #home .content p {
  text-align: center;
  max-width: 800px;
  font-size: 22px;
}

main #home .content a {
  background-color: var(--button-primary);
  border-radius: var(--borde-radius);
  border: 1px solid transparent;
  color: var(--text-secundary);
  display: inline-block;
  width: fit-content;
  padding: 15px 30px;
  font-weight: 700;
  transition: 0.3s;
  font-size: 22px;
}

main #home .content a:hover {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  text-decoration: none;
}

/* Collection */
main #collection {
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  display: flex;
}

main #collection h2 {
  margin-top: 50px;
  font-size: 50px;
}

main #collection .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 50px;
}

main #collection .content .cards {
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
  overflow-x: hidden;
  display: flex;
  width: 90%;
  gap: 20px;
}

main #collection .content .cards .card {
  border-radius: var(--borde-radius);
  background-color: var(--bg-cards);
  height: fit-content;
  max-width: 400px;
  width: 100%;
}

main #collection .content .cards .card img {
  border-radius: var(--borde-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

main #collection .content .cards .card h3 {
  color: var(--text-quinary);
  padding: 10px 20px;
  font-size: 22px;
  text-align: left;
}

main #collection .content .cards .card button {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  border-radius: var(--borde-radius);
  margin: 0 20px 20px 20px;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
  width: 90%;
}

main #collection .content .cards .card button:hover {
  background-color: var(--button-primary);
  border: 1px solid transparent;
  color: var(--text-secundary)
}

main #collection .content .cards .card p {
  color: var(--text-quaternary);
  padding: 0 20px 20px 20px;
  font-size: 18px;
  text-align: left
}

main #collection .content .actions {
  display: flex;
  gap: 20px;
}

main #collection .content .actions button {
  background-color: var(--button-secundary);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

main #collection .content .actions button:hover {
  background-color: var(--button-primary);
  border: 1px solid transparent;
  color: var(--text-secundary);
}

/* About */
main #about {
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  display: flex;
}

main #about h2 {
  margin-top: 50px;
  font-size: 50px;
}

main #about .content {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
  gap: 50px;
}

main #about .content img {
  border-radius: var(--borde-radius);
  object-fit: cover;
  height: auto;
  width: 100%;
}

main #about .content .text {
  flex-direction: column;
  max-width: 800px;
  text-align: left;
  display: flex;
  gap: 20px;
}

main #about .content .text h2 {
  font-size: 50px;
  margin-top: 0;
}

main #about .content .text p {
  color: var(--text-tertiary);
  font-size: 22px;
  text-align: left;
}

main #about .content .text .addtional {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

main #about .content .text .addtional section {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

main #about .content .text .addtional section h3 {
  color: var(--text-quinary);
  font-size: 22px;
}

main #about .content .text .addtional section p {
  color: var(--text-quaternary);
  font-size: 18px
}

/* Responsividade */
@media (max-width: 768px) {

  /* Header */
  header nav ul {
    background-color: var(--bg-secundary);
    flex-direction: column;
    position: absolute;
    padding: 20px;
    display: none;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    top: 100%;
    left: 0;
  }

  header nav ul.active {
    display: flex;
    width: 100%;
  }

  /* Botão contato */
  header nav .actions .btn {
    display: none;
  }

  /* Actions Navegation */
  header nav .actions .btn-mobile {
    background-color: var(--button-primary);
    border-radius: var(--borde-radius);
    border: 1px solid transparent;
    color: var(--text-secundary);
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 700;
    transition: 0.3s;
    display: block;
  }

  /* Hover */
  header nav .actions .btn-mobile.active {
    background-color: var(--button-secundary);
    border: 1px solid var(--button-primary);
    color: var(--button-primary)
  }

  /* Home */
  main #home .content h1 {
    max-width: 500px;
    font-size: 32px;
  }

  main #home .content p {
    max-width: 500px;
    font-size: 18px;
  }

  /* Collection */
  main #collection {
    padding: 0 20px;
  }

  main #collection h2 {
    margin-top: 0;
    font-size: 32px
  }

  main #collection .content .cards {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    flex-wrap: wrap;
    width: 100%;
  }

  main #collection .content .cards .card {
    max-width: 300px;
    min-width: 300px;
  }

  main #collection .content .cards .card img {
    height: 300px;
    width: 300px;
  }

  main #collection .content .cards .card h3 {
    font-size: 18px;
  }

  main #collection .content .cards .card p {
    font-size: 16px;
  }

  main #collection .content .cards .card button {
    margin: 0 20px 10px 20px;
    padding: 10px 20px;
    font-size: 18px;
    width: 80%;
  }

  main #collection .content .actions {
    display: none;
  }

  /* About */
  main #about {
    padding: 50px 20px;
  }

  main #about h2 {
    margin-top: 0;
    font-size: 32px;
  }

  main #about .content {
    flex-direction: column;
    width: 100%;
  }

  main #about .content img {
    width: 100%;
  }

  main #about .content .text h2 {
    font-size: 32px;
    margin-top: 0;
    text-align: center;
  }

  main #about .content .text p {
    text-align: center;
    font-size: 18px;
  }

  main #about .content .text {
    max-width: 100%;
  }

  main #about .content .text .addtional {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  main #about .content .text .addtional section {
    text-align: center;
  }
}
